RewriteEngine On
Options +FollowSymLinks
Options -Indexes
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule . index.php [L,QSA]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
<Files 403.shtml>
order allow,deny
allow from all
</Files>
deny from 74.91.31.50

RewriteCond %{HTTP_REFERER} !^http://237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://237katika.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://237katika.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boloworldwide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boloworldwide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boloworldwide.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boloworldwide.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://btccmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://btccmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bus.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bus.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconeats.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconeats.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconpay.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconpay.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconrobot.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconrobot.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconsarl.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://deaconsarl.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fanartssme.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fanartssme.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fanartssme.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fanartssme.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foods.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hostingcmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hostingcmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://live.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://live.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://market.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://market.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nvengeandpartners.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nvengeandpartners.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nvengeandpartners.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nvengeandpartners.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmediedu.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmediedu.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmediedu.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pmediedu.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://privacy.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://privacy.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://privacypolicies.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://privacypolicies.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reseller.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reseller.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://security.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://security.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://security.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://security.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://socialkmer.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://socialkmer.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://socialkmer.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://socialkmer.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://taxilab.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://taxilab.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://track.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://track.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://walkamer.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://walkamer.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wallet.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wallet.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.237katika.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.237katika.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boloworldwide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boloworldwide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boloworldwide.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boloworldwide.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.btccmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.btccmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bus.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bus.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconeats.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconeats.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconpay.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconpay.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconrobot.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconrobot.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconsarl.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.deaconsarl.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fanartssme.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fanartssme.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fanartssme.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fanartssme.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foods.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hostingcmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hostingcmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.live.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.live.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nvengeandpartners.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nvengeandpartners.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nvengeandpartners.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nvengeandpartners.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmediedu.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmediedu.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmediedu.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pmediedu.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.privacy.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.privacy.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.privacypolicies.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.privacypolicies.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reseller.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reseller.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.security.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.security.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.security.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.security.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.socialkmer.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.socialkmer.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.socialkmer.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.socialkmer.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.taxilab.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.taxilab.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.track.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.track.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.walkamer.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.walkamer.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wallet.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wallet.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://237katika.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://237katika.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boloworldwide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boloworldwide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boloworldwide.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boloworldwide.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://btccmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://btccmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bus.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bus.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconeats.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconeats.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconpay.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconpay.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconrobot.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconrobot.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconsarl.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://deaconsarl.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fanartssme.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fanartssme.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fanartssme.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fanartssme.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foods.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hostingcmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hostingcmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://live.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://live.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://market.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://market.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nvengeandpartners.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nvengeandpartners.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nvengeandpartners.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nvengeandpartners.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pmediedu.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pmediedu.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pmediedu.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pmediedu.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://privacy.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://privacy.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://privacypolicies.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://privacypolicies.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reseller.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reseller.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://security.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://security.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://security.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://security.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://socialkmer.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://socialkmer.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://socialkmer.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://socialkmer.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://taxilab.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://taxilab.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://track.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://track.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://walkamer.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://walkamer.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wallet.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wallet.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.237katika.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.237katika.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boloworldwide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boloworldwide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boloworldwide.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boloworldwide.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.btccmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.btccmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bus.237katika.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bus.237katika.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconeats.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconeats.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconpay.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconpay.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconrobot.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconrobot.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconsarl.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.deaconsarl.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fanartssme.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fanartssme.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fanartssme.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fanartssme.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.deaconeats.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.deaconeats.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foods.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ghana.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ghana.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hostingcmr.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hostingcmr.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.live.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.live.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.market.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.market.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nvengeandpartners.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nvengeandpartners.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nvengeandpartners.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nvengeandpartners.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pmediedu.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pmediedu.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pmediedu.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pmediedu.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.privacy.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.privacy.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.privacypolicies.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.privacypolicies.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reseller.hostingcmr.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reseller.hostingcmr.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.security.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.security.btccmr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.security.deaconpay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.security.deaconpay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.socialkmer.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.socialkmer.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.socialkmer.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.socialkmer.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.taxilab.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.taxilab.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.track.taxilab.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.track.taxilab.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tumentafunyi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tumentafunyi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.walkamer.deaconsarl.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.walkamer.deaconsarl.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wallet.btccmr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wallet.btccmr.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|png)$ - [F,NC]

